/** 開発中にリロードしなくても CSS が反映されるようにするため、import する方式にしている */
:root {
	/** 
	 * カスタムプロパティの命名ルール
	 * --[値名]-[値の種類]-[値の適用箇所]
	 */
	/** color */
	--color-primary-bg: #3f51b5;
	--color-primary-font: #fff;
	--color-secondary-bg: #efefef;
	--color-secondar-font: #000;
	--color-base-bg: rgba(255, 255, 255, 0.8);
	--color-base-font: #000;
	--color-base-border: rgba(0, 0, 0, 0.3);
	--color-content-bg: rgba(255, 247, 177, 0.8);
	--color-content-font: #000;
	--color-focused-border: #55fa;
	--color-error-font: #f44336;
	--color-heighlight-bg: rgba(112, 248, 146, 0.8);
	--color-heighlight-font: #000;

	/** width */
	--width-base-border: 1px;
	--width-focused-border: 2px;

	/** radius */
	--radius-base-border: 5px;
	--radius-focused-border: 5px;

	/** style */
	--style-base-border: solid;
	--style-focused-border: solid;

	/** padding */
	--padding-base: 5px;

	/** 一括指定 */
	--border-base: var(--width-base-border) var(--style-base-border) var(--color-base-border);
	--outline-focused: var(--width-focused-border) var(--style-focused-border)
		var(--color-focused-border);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	/** outline を none にするとタブ移動が効かなくなってしまう */
	outline: var(--outline-focused);
}

input,
textarea,
select,
button {
	border: var(--border-base);
	border-radius: var(--radius-base-border);
	padding: var(--padding-base);
}

textarea {
	resize: none;
}

button {
	border: var(--border-base);
	padding: var(--padding-base);
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed !important;
	opacity: 0.6;
}
