:root {
	--primary-color: rgb(75, 40, 246);
	--primary-font-color: #fff;
	--secondary-color: #efefef;
	--secondary-font-color: #000;
	--basic-border-radius: 5px;
	--basic-border-color: rgba(0, 0, 0, 0.3);
	--basic-border: 1px solid var(--basic-border-color);
}
